* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  font-size: 1.4rem;
  padding: 1rem 1.8rem;
}

nav {
  display: block;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: solid gray;
}

#navbar ul {
  list-style: none;
  height: 88%;
  padding: 0;
}

#navbar li:first-child {
  border-top: 1px solid;
}

#navbar li:not(li:last-child) {
  border-bottom: 1px solid;
}

#navbar a {
  text-decoration: none;
  padding: 10px 30px;
  display: block;
  color: gray;
  cursor: pointer;
}

#main-doc {
  padding: 1rem;
  position: absolute;
  margin-left: 300px;
}

#main-doc header {
  padding: 1.3rem 1.8rem;
}

.main-section article {
  padding: 0 1rem;
  color: #4d4e53;
}

.main-section article p {
  margin-bottom: 20px;
  margin-left: 30px;
}

.main-section ul {
  margin-left: 90px;
}

.main-section ul li {
  margin-bottom: 20px;
}

.main-section ul li p {
  margin: 0;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 20px 40px;
  word-break: normal;
  word-wrap: normal;
  border-radius: 5px;
}

@media (max-width: 768px) {
  #navbar {
    position: relative;
    overflow: scroll;
    height: 290px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #main-doc {
    margin: 0 auto;
  }
}
